<!--h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p-->
<h1>Signup</h1>
<%render partial: '/gyms/render_errors', locals: {model_name: @user} %>

<%= form_for(@user) do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Please create a username!" %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Please register with your email" %>
  </p>

  <p>
    <h3>Create an Admin account to post your Gyms.</h3>
    <%= f.label "Admin?" %>
    <%= f.select(:admin, options_for_select([['Yes', true], ['No', false]], {:selected => @user.admin}), :prompt => "Select") %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <h2><%= f.submit %></h2>
  <%end%>