<div class="form-group">
  <%= r.label :class_rating %><br>
  <%= r.select(:class_rating, options_for_select((1..3), 
  {:selected => @review.class_rating}), :prompt => "Select") %>
</div>
<div class="form-group">
  <%= r.label :personal_training_rating %><br>
  <%= r.select(:personal_training_rating, options_for_select((1..3),
  {:selected => @review.personal_training_rating}), :prompt => "Select") %>
</div>
<div class="form-group">
  <%= r.label :cleanliness_rating %><br>
  <%= r.select(:cleanliness_rating, options_for_select((1..3),
  {:selected => @review.cleanliness_rating}), :prompt => "Select") %>
</div>
<div class="form-group">
  <%= r.label :description %><br>
  <%= r.text_area :description, size: "30x10" %>
</div>
<div class="form-group">
  <%= r.hidden_field :gym_id, :value => @review.gym.id %>
</div>