<h1>Add a Gym</h1>

<h3>
  <%= f.label :Name %>
  <%= f.text_field :name %>
</h3>

<h3>
  <%= f.label :Location %>
  <%= f.text_field :location %>
</h3>

<h3>
  <%= f.label :Class %>
  <%= f.text_field :class %>
</h3>