<h1>Add a Gym</h1>

<h3>
  <%= f.label :Name %><br>
  <%= f.text_field :name %>
</h3>

<h3>
  <%= f.label :Location %><br>
  <%= f.text_field :location %>
</h3>

<h3>
  <%= f.label :Class %><br>
  <%= f.text_field :class %>
</h3>