<div class="gym_list">
  <h2><span class="add_color">Name:</span> <%= link_to gym.name, 
    gym_path(gym) %></h2>
  <h3><span class="add_color">Class:</span> <%= gym.class %></h3>
  <h3><span class="add_color">Location:</span><%= gym.location %></h3>

    <% if is_admin? && gym_owner(gym) %>
      <h3><%= link_to "Edit", edit_gym_path(gym) %></h3>
      <h3><%= link_to "Delete", gym, method: :delete, data: {confirm: "Are you sure?"} %></h3>
      <%end%>

      <% if logged_in? && !is_admin? %>
        <%= link_to "Please Write a Review", gym_path(gym) %>
      <%end%><!--br-->
      <% if has_reviews(gym) %>
        <h2>Reviews:</h2>
      <%end%>
    <%end%>
</div>