<div style="background-color: #F0F7F7;
padding: 25px;
width: 40px;
margin-left: 25px;
margin-bottom: 10px;">
<h2><span style="color: #616B3B">Name:</span> <%= link_to gym.name, gym_path(gym) %></h2>
<h3><span style="color: #616B3B">Classes:</span> <%=gym.classes %></h3>
<h3><span style="color: #616B3B">Location:</span> <%=gym.location %></h3>
</div>
<div class="gym_list">
    
    <% if is_admin? && gym_owner(gym) %>
      <h3><%= link_to "Edit", edit_gym_path(gym) %></h3>
      <h3><%= link_to "Delete", gym, method: :delete, data: {confirm: "Are you sure?"} %></h3>
      <%end%>
      
      <% if logged_in? && !is_admin? %>
        <%= link_to "Please Write a Review", gym_path(gym) %>
      <%end%>
      <br>

      <% if has_reviews(gym) %>
        <h2 style="color: #616B3B">Reviews:</h2>
      <%end%>

      <% gym.reviews.each do |review| %>
        <h3 style="color: #EF7553"><%= review.user.user_name %></h3>
      <%= render partial: '/reviews/review', locals: {review: review} %>
      <% if logged_in? && valid_user?(review) %>
      <%= link_to "Edit", edit_review_path(review) %>
      <%= link_to "Delete", review, method: :delete, data: {confirm: "Are you sure?"} %>
      <%end%>
    <%end%>
</div>