<!--h1>Gyms#new</h1>
<p>Find me in app/views/gyms/new.html.erb</p-->
<%= render partial: 'render_errors', locals: {model_name: @gym} %>
  <% if is_admin? %>

  <%= form_for(@gym) do |f| %>
<%= render parital: "form", locals: {f: f} %>

  <h3>
    <%f.fields_for :reviews, @review do |review_builder| %>
  <%= render partial: "fields_for_reviews", locals: {r: review_builder} %>
    <%end%>
  </h3>
  <h3>
    <%= f.submit %>
  </h3>
  <%end%>
  <%end%>