<button class="all_gym">All</button>
<% if flash[:message] %>
<p><%= flash[:message] %></p>
<%end%>

<div class="gym_div">
  <h2><%= @gym.name %></h2>
  <h3>Classes: <%= @gym.classes %></h3>
  <h3>Location: <%= @gym.location %></h3>
  <br>
</div>

<div id="reviews_div">

  <h2>Please Write a Review</h2>
    <%= form_for(@review) do |f| %>
  <%= render partial: "fields_for_reviews", locals: {r: f} %>
    <%= f.submit value="Submit Review", {:id => "submit-review-button", :data => { :'id' => @gym.id }} %>
  <%end%>
</div>