<h4>Class Rating: <%= review.class_rating %></h4>
<h4>Personal Training Rating: <%= review.personal_training_rating %></h4>
<h4>Cleanliness Rating: <%= review.cleanliness_rating %></h4>
<h4>Description: <%= review.description %></h4>
<h4>Date: <%= review.date %></h4>