<!DOCTYPE html>
<html>
  <head>
    <title>GymFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Recent Reviews", reviews_recent_reviews_path %></li>
    <h1 class="logo">GymFinder</h1>
    <%= yield %>
  </body>
</html>
